<div id="blog">
    <div class="tile is-ancestor navbar-color is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child has-text-centered box">
                <h1 class="big-header">Blogposts</h1>
                {{#if session.isLoggedIn}}
                <a class="button navbar-color" href="/blog/post">
                    New Blogpost
                </a>
                {{/if}}
                
            </div>
        </div>
    </div>
    <div class="tile is-ancestor navbar-color is-vertical">
        {{#each blogposts}}
            <div class="tile is-parent is-vertical">
                <div class="tile is-child is-size-3 box has-text-centered">
                    <a href="/blog/post/{{id}}" class="has-text-weight-bold">{{title}}</a>
                    {{#if @root.session.isLoggedIn}}
                        <div class="buttons is-right">
                            <a class="button navbar-color" href="/blog/post/{{id}}/edit">Edit</a>
                            <div class="buttons-same-height">
                                <form action="/blog/post/{{id}}/delete" method="post">
                                    <input type="submit" class="button navbar-color" value="Delete">
                                </form>
                            </div>
                        </div>
                    {{/if}}
                    <div class="tile is-child box is-size-5 has-text-centered">
                        {{blogpost}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>    
</div>