<div id = "contactMessages">
    <div class="tile is-ancestor navbar-color is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child has-text-centered box">
                <h1 class="big-header">Messages</h1>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor navbar-color is-vertical">
        {{#each messages}}
            <div class="tile is-parent is-vertical">
                <div class="tile box is-child is-size-3 has-text-centered">
                    <h1 class="has-text-weight-bold">From: {{firstName}} {{lastName}}</h1>
                    <div class="tile box is-child">
                        <p>Message: {{message}}</p>
                    </div>
                    <a href="mailto:{{email}}">{{email}}</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>