<div id="home">
    <div class="tile is-ancestor navbar-color is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">Latest Projects</h1>
            </div>
        </div>
        <div class="tile is-parent box">
            {{#each projects}}
                <div class="tile is-child box font-color has-text-centered ">
                    <div class="is-size-3 has-text-weight-bold">
                        <a href="/portfolio/project/{{id}}">{{title}}</a>
                    </div>
                    <div class="is-size-5 is-italic">
                        {{description}}
                    </div>
                    <div class="is-size-5">
                        <a href="{{link}}">{{link}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent is-7 is-vertical">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">Latest Blogpost</h1>
            </div>
            <div class="tile is-child box">
                <div class="font-color has-text-centered has-text-weight-bold is-size-2">
                    <a href="/blog/post/{{blogpost.id}}">{{blogpost.title}}</a>
                </div>
                <div class="box has-text-centered">
                    {{blogpost.blogpost}}
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="big-header">Information</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ex tellus.
                    Donec mi urna, congue sit amet tempus ut, pulvinar quis neque. Integer at 
                    nisl felis. Morbi quis auctor libero. Duis quis risus gravida, scelerisque 
                    odio at, placerat quam. Pellentesque sit amet massa porttitor, sodales est et,
                    sagittis lectus. Vivamus scelerisque dui eget turpis sagittis, blandit pulvinar 
                    felis convallis. Nunc lobortis, neque et luctus finibus, orci quam iaculis tellus,
                    
                    
            </div>
        </div>
    </div>
</div>